
@{
    ViewBag.Title = "Inicio";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel" style="padding: 1em 1em;">
                <div class="panel-body" style="border: none; color: black;">
                    <div class="row">
                        <div class="media" style="float: left">
                            <div class="col-sm-2">
                                <div class="media-left media-middle">
                                    <span class="fa fa-tachometer" style="font-size: 400%;" ></span>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="media-body">
                                    <h4 class="media-heading">Tablero</h4>
                                   
                                    <p>
                                        Contamos con un tablero de control  informativo de los dispositivos instalados, donde puedes ver el nombre de la empresa, el nombre del dispositivo y la temperatura en tiempo real.
                                    </p>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel" style="padding: 1em 1em;">
                <div class="panel-body" style="border: none; color: black;">
                    <div class="row">
                        <div class="media" style="float: left">
                            <div class="col-sm-2">
                                <div class="media-left media-middle">
                                    <span class="lnr lnr-apartment" style="font-size: 400%;"></span>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="media-body">
                                    <h4 class="media-heading">Empresa</h4>
                                   
                                    <p>
                                        Registra tu empresa con nit  y activa notificaciones por correo, por sms.
                                    </p>
                                    <br />
                                  
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel" style="padding: 1em 1em;">
                <div class="panel-body" style="border: none; color: black;">
                    <div class="row">
                        <div class="media" style="float: left">
                            <div class="col-sm-2">
                                <div class="media-left media-middle">
                                    <span class="lnr lnr-smartphone" style="font-size: 400%;"></span>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="media-body">
                                    <h4 class="media-heading">Dispositivo</h4>

                                    <p>
                                        Al crear un dispositivo se genera un identificador para el envio de mensajes.
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel" style="padding: 1em 1em;">
                <div class="panel-body" style="border: none; color: black;">
                    <div class="row">
                        <div class="media" style="float: left">
                            <div class="col-sm-2">
                                <div class="media-left media-middle">
                                    <span class="lnr lnr-user" style="font-size: 400%;"></span>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="media-body">
                                    <h4 class="media-heading">Usuario</h4>

                                    <p>
                                        Registra tus datos personales.
                                    </p>
                                    <br />

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel" style="padding: 1em 1em;">
                <div class="panel-body" style="border: none; color: black;">
                    <div class="row">
                        <div class="media" style="float: left">
                            <div class="col-sm-2">
                                <div class="media-left media-middle">
                                    <span class="lnr lnr-layers" style="font-size: 400%;"></span>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="media-body">
                                    <h4 class="media-heading">Reporte</h4>

                                    <p>
                                        Por medio de informes gráficos y tablas, tienes  la trazabilidad de la temperatura en la nevera, el usuario deberá seleccionar el dispositivo y el rango de las fechas para generar la temperatura que el sensor obtuvo.
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel" style="padding: 1em 1em;">
                <div class="panel-body" style="border: none; color: black;">
                    <div class="row">
                        <div class="media" style="float: left">
                            <div class="col-sm-2">
                                <div class="media-left media-middle">
                                    <span class="fa fa-file-text-o" style="font-size: 400%;"></span>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="media-body">
                                    <h4 class="media-heading">Umbral</h4>

                                    <p>
                                        Configura la temperatura y los umbrales de tolerancia para activar las alertas necesarias.
                                    </p>
                                    <br />

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<h2>Bienvenido Administrad@r</h2>
<div class="jumbotron">
   
    <p>Contamos con un tablero de control  informativo de los dispositivos instalados, donde puedes ver el nombre de la empresa, el nombre del dispositivo y la temperatura en tiempo real.</p>
    <p>Configuración de  rangos de temperatura, permite al usuario configurar la temperatura máxima y mínima de un dispositivo, activando alarmas cuando las temperaturas salen del umbral.</p>
</div>*@
